<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://www.onemonthrails.com" %>
	is a project to teach
	<%= link_to "Ruby on Rails", "http://www.rubyonrails.org" %>
	in one month. This is a sample application.
</p>