  <tr>
    <td><%= knowledge.description %></td>
    <td><%= link_to 'Show', knowledge %></td>
    <td><%= link_to 'Edit', edit_knowledge_path(knowledge) %></td>
    <td><%= link_to 'Destroy', knowledge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>