<div class="row">
	<div class="span6 offset3">
		<div class="well">
	<p>
	  <b></b>
	  <%= @knowledge.description %>
	</p>
	<%= link_to 'Edit', edit_knowledge_path(@knowledge) %> |
<%= link_to 'Back', knowledges_path %>
</div>
</div>
</div>

