$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);


@import "bootstrap";
@import "bootstrap-responsive";


body {
	padding-top: 60px;
}

.footer {

	margin-top: 50px;
	color: $grayLight;
	a {
		color: gray;
		}
}